<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="myDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span style="flex:auto"></span>

  <!-- Dropdown pour la gestion des utilisateurs -->
  <button mat-button [matMenuTriggerFor]="accountMenu" *ngIf="authService.roles.includes('ADMIN')" class="username">
    <mat-icon>account_circle</mat-icon> Gestion des comptes
  </button>
  <button mat-button *ngIf="authService.isAuthenticated">
        {{authService.username}}
  </button>

  <!-- Menu déroulant avec les options "Créer un compte" et "Gérer les utilisateurs" -->
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item routerLink="/admin/create-account">
      <mat-icon>person_add</mat-icon> Créer un compte
    </button>
    <button mat-menu-item routerLink="/admin/user-management">
      <mat-icon>group</mat-icon> Gérer les utilisateurs
    </button>
  </mat-menu>

  <button mat-raised-button class="logout-btn" (click)="logout()">
    Déconnexion
  </button>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
  <mat-drawer #myDrawer mode="side" class="animated-drawer">
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/admin/dashboard" class="nav-button" >
          <mat-icon>dashboard</mat-icon>
          Tableau de bord
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button routerLink="/admin/transaction" class="nav-button">
          <mat-icon>description</mat-icon>
          Transactions
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button routerLink="/admin/prediction" class="nav-button">
          <mat-icon>insights</mat-icon>
          Prédictions
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
