<h1 mat-dialog-title>Ajouter des Données de Fraude</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="data.type" name="type" required>
        <mat-option *ngFor="let option of typeOptions" [value]="option.value">
          {{ option.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput [(ngModel)]="data.amount" name="amount" type="number" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Name Orig</mat-label>
      <input matInput [(ngModel)]="data.nameOrig" name="nameOrig">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Old Balance Org</mat-label>
      <input matInput [(ngModel)]="data.oldbalanceOrg" name="oldbalanceOrg" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>New Balance Org</mat-label>
      <input matInput [(ngModel)]="data.newbalanceOrig" name="newbalanceOrg" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Name Dest</mat-label>
      <input matInput [(ngModel)]="data.nameDest" name="nameDest">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Old Balance Dest</mat-label>
      <input matInput [(ngModel)]="data.oldbalanceDest" name="oldbalanceDest" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>New Balance Dest</mat-label>
      <input matInput [(ngModel)]="data.newbalanceDest" name="newbalanceDest" type="number">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Ajouter</button>
    <button mat-button (click)="onNoClick()">Annuler</button>
  </form>
</div>
