<div class="container">
  <!-- Dashboard Card -->
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Dashboard</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="stats-container">
        <!-- Total Transactions Card -->
        <mat-card class="stat-card">
          <mat-card-header>
            <mat-card-title>Total Transactions</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2>{{ totalTransactions }}</h2>
          </mat-card-content>
        </mat-card>

        <!-- Normal Transactions Card -->
        <mat-card class="stat-card">
          <mat-card-header>
            <mat-card-title>Normal</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2>{{ normalCount }}</h2>
          </mat-card-content>
        </mat-card>

        <!-- Suspect Transactions Card -->
        <mat-card class="stat-card">
          <mat-card-header>
            <mat-card-title>Suspect</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2>{{ suspectCount }}</h2>
          </mat-card-content>
        </mat-card>

        <!-- Fraud Transactions Card -->
        <mat-card class="stat-card">
          <mat-card-header>
            <mat-card-title>Fraud</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2>{{ fraudCount }}</h2>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Charts Section -->
  <mat-card class="chart-card">
    <mat-card-header>
      <mat-card-title>Charts</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="charts-container">
        <!-- Pie Chart -->
        <div class="chart">
          <canvas id="pieChart"></canvas>
        </div>

        <!-- Bar Chart Container -->
        <div class="bar-chart-container">
          <!-- Dropdown for selecting payment type -->
          <div class="dropdown-container">
            <mat-form-field appearance="fill">
              <mat-label>Select Transaction Type</mat-label>
              <mat-select (selectionChange)="onTypeChange($event.value)" [(ngModel)]="selectedType">
                <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Bar Chart Canvas -->
          <div class="chart">
            <canvas id="chartCanvas"></canvas>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
